.catagory ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.catagory li li
/*select the second li*/

{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    /*    margin: 0px*/
}


/*for mobile*/

html,
body {
    height: 100%;
}

body .container {
    height: 100%;
    max-width: 100%
}

.placeholder {
    height: 100%;
    max-height: 8%
}

.date_row {
    height: 100%;
    max-height: 7%
}

.mainpage {
    height: 100%;
    max-height: 80%
}

.mainpage .timetable {
    height: 100%;
    max-height: 50%
}

.mainpage .catagory_and_date {
    height: 100%;
    max-height: 50%
}

.mainpage .catagory_and_date .catagory {
    height: 100%;
    max-height: 80%
}

.mainpage .statics {
    height: 30%
}

.mainpage .chart_horizon {
    display: none;
}

.mainpage .chart_vertical {
    height: 100%;
    display: block;
}

.statics_title {
    max-height: 30%
}


/*for desktop and tablets*/

@media (min-width: 768px) {
    .mainpage .timetable {
        max-height: 100%
    }
    .mainpage .catagory_and_date {
        max-height: 100%
    }
    .mainpage .statics {
        height: 100%
    }
    .mainpage .chart_horizon {
        display: block;
        height: 100%
    }
    .mainpage .chart_vertical {
        display: none;
    }
    .statics_title {
        max-height: 6%
    }
}

body {
    position: relative;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.halfhour-column .row label {
    background-color: #fff;
}

.halfhour-column .row label.active {
    background-color: #e6e6e6;
}

.halfhour-column .row label:active,
.halfhour-column .row label.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.halfhour-column .row {
    padding: 1px 1px 1px 1px
}

.hour-column .row label {
    background-color: #fff;
}

.hour-column .row label.active {
    background-color: #e6e6e6;
}

.hour-column .row label:active,
.hour-column .row label.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.hour-column .row {
    padding: 1px 1px 1px 1px
}

.timetable {
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.timetable::-webkit-scrollbar {display:none}

.catagory_and_date {
    max-height: 100%;
}

.catagory_and_date .catagory {
    overflow: scroll;
    overflow-x: hidden;
}
.catagory_and_date .catagory::-webkit-scrollbar {display:none}


/*btn overwrite*/

.hour-column .row label.active,
.hour-column .row label.active.focus,
.hour-column .row label.active:focus,
.hour-column .row label:active.focus,
.hour-column .row label:active:focus,
.halfhour-column .row label.active,
.halfhour-column .row label.active.focus,
.halfhour-column .row label.active:focus,
.halfhour-column .row label:active.focus,
.halfhour-column .row label:active:focus {
    border-color: #fff
}


/*font size*/

h3 {
    text-transform: uppercase
}

.catagory button,
.mainpage label {
    font-size: 1.5em
}

@media (min-width:768px) {
    .catagory button,
    .mainpage label {
        font-size: 1em
    }
}


/*static charts*/

.chart_plane {
    padding-left: 0px;
    height: 100%;
}

.chart_bar_horizon {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    height: 4em;
    background-color: #123;
    width: 70%;
    float: left
}

.chart_text_horizon {
    text-align: center;
    height: 4em
}

.chart_text_horizon p {
    margin: auto;
    padding-top: 1.25em
}

.chart_horizon {
    overflow: scroll;
    max-height: 94%
}
//.chart_horizon::-webkit-scrollbar {display:none}


/*vertical*/
.chart_vertical
{
    height: 100%;
    max-height: 75%;
    
    overflow: scroll;
    overflow-y: hidden;
}

.chart_vertical::-webkit-scrollbar {display:none}

.chart_plane_vertical
{
    
    padding-left: 0px;
    height: 90%;
    display: block;
    white-space: nowrap;
    position: relative;
/*    width: 10000000px*/
}

.chart_plane_vertical ul
{
    list-style-type: none;
    display: inline;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

.chart_plane_vertical li
{
    list-style-type: none;
    display: inline;
}

.chart_item_vertical
{
    
    margin-left: 0px;
    padding-left: 0px;
    width:4em;
    height: 100%;
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
    white-space: nowrap;
}

.chart_empty_vertical
{
    height: 20%;
}

.chart_text_vertical
{
    text-align: center;
}
.chart_bar_vertical
{
    height: 70%;
    background-color: #123;
}

