


html,
body {
    height: 100%;
    background-color: white;
}

body {
    position: relative;
}

body .container {
    height: 100%;
    max-width: 95%
}

.placeholder {
    height: 100%;
    max-height: 9.5%
}

.mainpage {
    height: 100%;
    max-height: 80%
}

/*copied from mdb.css*/


html {
    font-weight: 300;
}

p {
    font-size: 1.4rem;
    line-height: 1.8;
    font-weight: 400;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-weight: 300;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}

h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}

h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}

h6 {
    font-size: 1rem;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 500;
}

small {
    font-size: 75%;
}

.reform_btn_default {}

.reform_btn_default.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background-color: #e6e6e6;
}

.reform_btn_default {
    background-color: #fff;
}


/*btn overwrite*/

.btn-default {
    border-radius: 0px;
}

.btn-default:active {
    border-color: #fff;
}

.hour-column .row label.active,
.hour-column .row label.active.focus,
.hour-column .row label.active:focus,
.hour-column .row label:active.focus,
.hour-column .row label:active:focus,
.halfhour-column .row label.active,
.halfhour-column .row label.active.focus,
.halfhour-column .row label.active:focus,
.halfhour-column .row label:active.focus,
.halfhour-column .row label:active:focus {
    border-color: #fff
}
