.mainpage {
    height: 100%;
    max-height: 90%
}


/*nav sidebar*/

.nav_sidebar {
    border-style: none;
    /*for debuging*/
    padding: 0px
}

.sidebar_items {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar_items {
    font-size: 110%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar_items:active,
.sidebar_items.active {
    border-color: #fff;
    border-right-style: none;
}

.tab_content {
    height: 100%;
    /*    background-color: grey;*/
    padding-top: 2%;
    padding-bottom: 2%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
}


/*statistic tab content*/

.statistics_tab {
    height: 100%;
    width: 100%;
    display: none;
}

#piechart {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    /*    margin-top: 5px;*/
    /*    margin-bottom: 5px;*/
}

.piechart_tags {
    padding-top: 5px;
    padding-bottom: 5px;
}

.piechart_tags div {
    text-align: center;
}

.piechart_tags div span {
    width: 10px;
    height: 10px;
    background-color: aqua;
    display: inline-block;
    margin-right: 3px;
}


/*categories tab content*/

.categories_tab {
    height: 96%;
    min-height: 0%;
    /*because the padding of father is 2% for top and bottem*/
    /*    display: none;*/
}

.categories_container {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 87%;
    max-width: 100%;
}

.categories_container::-webkit-scrollbar {
    display: none
}

.categories_template{
    display: none;
}


/*>>>for vertically centerlizing*/

.categories {
    text-align: left;
/*    display: table;*/
    border-spacing: 0px 0px;
    border-collapse: separate;

}

.categories_extended,
.categories_name {
    display: table-cell;
    vertical-align: middle;
}

.categories_name{
/*    background-color: burlywood;*/
    width: 99999999px
    
}

.categories_delete,
.categories_edit {
    display: table-cell;
    vertical-align: middle;
    height: 2em;
    /*    display: none;*/
}



/*<<<*/

.categories div {
    margin: 0px;
    /*    padding: 0px;*/
}

.categories {
    margin-top: 1px;
    margin-bottom: 1px;
        border-style: solid;
    border-width: 1px;
    border-color: #e4e4e4
}

.categories_extended {
    padding: 0px;
}

#primary_name {
    padding-left: 5px;
}

#secondary_name {
    padding-left: 2em;
}

.categories_name:active,
.categories_edit:active,
.categories_delete:active
{
    background-color: #e6e6e6;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.categories_edit,
.categories_delete {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
}

.categories_edit {
    background-color: aquamarine
}

.categories_delete {
    background-color: darksalmon
}
