<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./favicon.ico">

    <title>BlockyTime</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='./css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='./css/main.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='./css/bootstrap-datepicker.css')}}" rel="stylesheet">

    <style>

    </style>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="./assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body body-spy="scroll">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">Blocky Time</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="row placeholder">

        </div>
        <div class="row mainpage">
            <div class="col-xs-6 timetable">
                <div class="row">
                    <div class="col-xs-6 hour-column">
                      {%for n in range(24)%}
                        <div class="row timebutton" id="" position="{{n*2}}" data-toggle="buttons">
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" autocomplete="off" checked><span>{{n}}</span>
                            </label>
                        </div>
                      {%endfor%}
                    </div>

                    <div class="col-xs-6 halfhour-column">
                      {%for n in range(24)%}
                      <div class="row timebutton" id="" position="{{n*2+1}}" data-toggle="buttons">
                            <label class="btn btn-default btn-block">
                                <input type="checkbox" autocomplete="off" checked><span>{{n*2+1}}</span>
                            </label>
                        </div>
                      {%endfor%}


                    </div>

                </div>
            </div>
            <div class="col-xs-1"></div>

            <!-- >>>> category column start -->

            <div class="col-xs-4 catagory_and_date">
                <h3>Category</h3>
                <div class="row catagory">
                  <ul>
                    {%for each in category_list%}
                      {%if each is not none%}
                      <li>
                        <button class="btn btn-primary btn-block primary_category" id="{{each['id']}}" style="background-color:{{each['color']}};">{{each['name']}}</button>
                        {%if each['second_category'] is not none%}
                          <ul>
                            {%for sec_each in each['second_category']%}
                              {%if sec_each is not none%}
                              <li>
                                <button class="btn btn-primary btn-block second_category" id="{{sec_each['id']}}"style="background-color:{{sec_each['color']}};">{{sec_each['name']}}</button>
                              </li>
                              {%endif%}
                            {%endfor%}
                          </ul>
                        {%endif%}

                      </li>
                      {%endif%}
                    {%endfor%}
                  </ul>


                </div>
                <h3>Date</h3>
<div class="row date">
   <input id="datepicker" type="text" class="form-control" value="{{date}}">
</div>

            </div>
            <!-- <<<< category column end -->

        </div>
        <!-- .row mainpage -->


    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='./js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='./js/bootstrap-datepicker.js')}}"></script>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./assets/js/ie10-viewport-bug-workaround.js"></script>

<script>
    site_url = "http://192.168.2.101:5000/"


    var ajax_result = null

    function get_Date()
    {
      return $('#datepicker').attr("value")
    }
    function get_Date_from_datepicker(date)
    {
      ret =  ""+date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()
      console.log(ret)
      $('#datepicker').attr("value",ret)
      return ret
    }


    function update_time_button(data){
      console.log(data)
      $(".timebutton").each(function(){

        // console.log($(this).attr("position"));

        for (var i = 0; i < data.Blocks.length; i++) {
          if (parseInt($(this).attr("position")) == data.Blocks[i].position)
          {

            $(this).children("label").children("span").text(data.Blocks[i].display_time);
            $(this).attr("id", data.Blocks[i].id);
            $(this).children("label").css("background-color",data.Blocks[i].second_category.color)
            // console.log(data.Blocks[i].second_category.color)
            // $(this).children("label").css("background-color","#999")
          }
        }

      })
    }


    function upload_blocks(second_category_id)
    {
      Block_url = site_url+"Blocks/1"
      block_list = []
      $(".timebutton").children(".active").each(function(){

            block_data = {
              id: $(this).parent().attr("id"),
              date_id : parseInt($('#datepicker').attr("date_id")),
              second_category_id: parseInt(second_category_id)
            }
            block_list.push(block_data)

            // console.log($(this).parent().attr("id"))


      });

      string_data= JSON.stringify(block_list)
      console.log(string_data)
      $.post(Block_url,{data:string_data},function(e){},"json")

      //after post

      $(".timebutton").children(".active").removeClass("active")
    }

    function get_Date_info(date,update_func)
    {
      date_info_url = site_url+"Date/"+date;
      var info = {}
      var hello={}
      return $.ajax({url:date_info_url,success:function (result){
        ajax_result = JSON.parse(result);
        $('#datepicker').attr("date_id",JSON.parse(result).id)
        update_func(JSON.parse(result));
      }

      })
    }





    $(document).ready(function() {

      /*init*/



      get_Date_info(get_Date(),update_time_button);




        $('#datepicker').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            keyboardNavigation: false,
            autoclose: true,
            todayHighlight: true
        }).on("changeDate", function(e) {
            console.log(e)

          get_Date_info(  get_Date_from_datepicker(e.date),update_time_button)

            // get_Date_info(get_Date(),update_time_button);
        });

        $('.second_category').each(
          function () {
            $(this).click(
              function ()
              {
                upload_blocks(parseInt($(this).attr("id")))
                get_Date_info(get_Date(),update_time_button);
              }
            )

          }
        )





    });
</script>

</body>

</html>
